/node_modules
/public/hot
/public/storage
/public/report.html
/public/stats.json
/storage/*.key
/vendor
/.vs
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ngrok.exe
/public/css
/public/js
/public/mix-manifest.json
package-lock.json
composer.lock
/storage/app/images/product/*
/resources/admin/plugins/ckeditor/node_modules/
