.mt-5 {
    margin-top: 1.25em !important;
}

.mb-5 {
    margin-bottom: 1.25em !important;
}


.mb-2 {
    margin-bottom: 1em !important;
}

.mb-1 {
    margin-bottom: .25em !important;
}

.pb-2 {
    margin-top: 1em !important;
}
