:root {
    --primary: #df2c65;
    --primary-light: #EC80A3;
    --primary-light-2: #FDEAF0;
    --primary-light-3: #FCEAF0;
    --primary-dark: #9B1841;
    --white: #ffffff;
    --black: #292D34;
    --black-dark: #000000;
    --red: #CE0000;
    --red-light: #FAE6E6;
    --grey: #B6B6B6;
    --grey-2: #E6E6E6;
    --grey-3: #C4C4C4;
    --grey-4: #E4E4E4;
    --grey-5: #DFDFDF;
    --grey-6: #929292;
    --grey-light: #F9F9F9;
    --green: #849C2E;
    --green-light: #F3F5EA;
    --purple: #B27DFF;
}
